<%-include('includes/head',{pageTitle:'An error Occured'}) %>
   
    </head>

    <body>
        <%-include('includes/header') %>
            <main>
                <h4>Something went wrong!</h4>
                <p>Unfortunately Something went wrong! Please try again later</p>
            </main>

            <%-include('includes/footer') %>